body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

body.dark-mode a {
  color: #9be7ff;
}

body.dark-mode a:hover {
  color: #c3f9ff;
}

body.dark-mode #header {
  background: #1f1f1f;
}

body.dark-mode .section-bg {
  background: #1d1d1d;
}

body.dark-mode .portfolio #portfolio-flters {
  background: #2b2b2b;
}
