#about span {
    margin: 5px;
}

.testimonial-item p {
    min-height: 300px;
}


.me-image{
    
border: solid 2px;
    
margin-top: 12px;
    
border-color: #0a892e;
    
border-radius: 12px;
    
filter: drop-shadow(2px 2px 5px #0a892e);
}
/* ------------------------- Hero --------------------*/
@media (max-width: 993px) {
    #hero {
        background: url('../../Pro/Hero3.jpg') top left;
        background-size: cover;
    }
}

@media (min-width: 994px) {
    #hero {
        background: url('../../Pro/Hero.jpg') top left;
        background-size: cover;
    }
}

.resume-title {
    color: #043042 !important;
}

.resume-item h4 {
    color: var(--main-color) !important;
}

#lang-switch button {
    width: 45px;
    height: 45px;
    font-weight: bold;
}

#lang-switch {
    z-index: 997;
}

footer h6 {
    line-height: 21px;
    font-size: medium;
}

.portfolio-details-slider >div >div{
    border: solid 2px #0a892e;
    border-radius: 11px;
    background-image: linear-gradient(45deg, #0a892e, transparent);
}

#About_Edu h3, #About_Edu h4, #About_Edu h5 {
    font-size:large;
    padding:8px;
}


/* Portfolio details button */
.portfolio .portfolio-wrap .details-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 4;
    background: rgba(30,95,2,0.9);
    color: #fff;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}
.portfolio .portfolio-wrap .details-btn i {
    margin-right: 4px;
}